<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
        <bean id="mb" class="bean.MyBean">
        </bean>
        <bean id="ws" class="service.WorkService"></bean>	
        <bean id="test" class="action.TestAction">
        	<property name="ws" ref="ws"></property>
        </bean>
        <bean id="log" class="bean.LogBean"></bean>
        <aop:config>
        	<aop:pointcut expression="execution(* service.WorkService.work(..))" id="secLogPointcut"/>
        	<aop:aspect id="logAspect" ref="log">
        		<aop:before method="before" pointcut-ref="secLogPointcut"/>
        	</aop:aspect>
        </aop:config>
        </beans>